@import "tailwindcss";

:root {
  --background: radial-gradient(circle at 100% 100%, #16ffd8 -250%, #000000);
  --foreground: #ffffff;
  --accent: #16ffd8;
  --greyed: #747474bd;
  --text-primary: #ffffff;
  --text-gradient: linear-gradient(180deg, #ffffff, #b6fff3);
  --text-secondary: #c4fff5;
  --text-active: #16ffd8;
  --dark-bkgd: #000f0e;
}

.dark {
  --background: #001614;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-code-pro);
}

/* Tailwind dark mode example 
.theme-demo {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}
*/

.text-glow-active {
  text-shadow: 0 0 2px var(--text-primary), 0 0 7px var(--text-active);
}

.text-gradient {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.font-pixelify {
  font-family: var(--font-pixelify-sans);
}
