@import "tailwindcss";

:root {
  --background: radial-gradient(circle at 100% 100%, #16ffd8 -250%, #000000);
  --foreground: #ffffff;
  --accent: #16ffd8;
  --greyed: #747474bd;
  --text-primary: #ffffff;
  --text-active: #16ffd8;
}

.dark {
  --background: #00050e;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-code-pro);
}

/* Tailwind dark mode example 
.theme-demo {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}
*/

.text-glow-active {
  text-shadow: 0 0 2px var(--text-active), 0 0 10px var(--text-active);
}
