@import "tailwindcss";

:root {
  --background: radial-gradient(circle at 100% 100%, #16ffd8 -250%, #000000);
  --foreground: #ffffff;
  --accent: #16FFD8;
  --border: #63636391;
  --text-primary: #ffffff;
  --text-active: #16FFD8;
}

.dark {
  --background: #00050e;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-code-pro);
}

/* Tailwind dark mode example 
.theme-demo {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}
*/